<html>
<body>

<head>
    <link type="text/css" rel="stylesheet" href="Stylesheet.CSS"/>
</head>
ACUPUNCTURISTS WITHOUT BORDERS ~ DONATION PAGE<br/>

{{^userName}}
<form action="login" method="post">
<   <input type="text" placeholder="Enter Login Name" name="loginName">
    <input type="password" placeholder="Enter password" name="password">
    <button type="submit">Login</button>
</form>
<br/>
{{/userName}}

{{#userName}}
Welcome {{userName}}! <br/>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br/>

<form action="/create-donation" method="post">
    <input type="text" placeholder="Donor Name" name="donorName">
    <select name="region">
        <option selected disabled>Region</option>
        <option value="Haiti">Haiti</option>
        <option value="California">California</option>
        <option value="Iowa">Iowa</option>
        <option value="Nepal">Nepal</option>
    </select>
    <select name="donationAmount">
        <option selected disabled>Donation Amount</option>
        <option value="25.00">$25</option>
        <option value="50.00">$50</option>
        <option value="100.00">$100</option>
        <option value="250.00">$250</option>
        <option value="500.00">$500</option>
        <option value="1000.00">$1000</option>

    </select>
    <button type="submit">Submit</button>

<br/>





</form>

<ul>
    {{#allDonations}}
    <li> {{donorName}}: {{region}} ${{donationAmount}}
       <form action="/delete-donation" method="get">
            <input type="hidden" value="{{id}}" name="id"/>
            <button type="submit">Remove Donation</button>
        </form>
        <!--<form action="/edit-donation" method="get">
            <input type="hidden" value="{{id}}" name="id"/> -->
            <a href="/edit?editId={{id}}">Edit</a>
         <!--</form -->
        <!--<a href = "/delete-?id={{id}}">Remove</a> -->
    </li>
    {{/allDonations}}
</ul>
{{/userName}}
<br/>
<br/>
<br/>
<!--ALL DONATIONS:
<ul>
    {{#allDonations}}
    <li>{{donorName}}: {{region}} ${{donationAmount}}</li>
    {{/allDonations}}
    </ul>
<!--{{^userName}} if no username, don't show list of all donations -->
<!--{{/userName}}-->
<br/>

Acupuncturists Without Borders' (AWB) vision is to foster the creation of stable, peaceful global communities through its community-based acupuncture services and training which interrupt the cycles of unresolved trauma.
AWB provides immediate disaster relief and recovery to communities that are in crisis resulting from disaster or human conflict.

</body>
</html>